rh6q32,root,master,/home/yk10/tpam
spb9449,root,spb9449,/tmp/tpamsessions
spb9449,root,spb9449,/home/yk/public_html/tpam
sles11sp1x86,root,master,/tmp/tpamsessions2
sles11sp1x86,root,master,/tmp/tpamsessions206
spb9449,root,spb9449,/home/yk250/tpam
spb9449,root,spb9449,/home/tpam148app/tpam
spb9449,root,spb9449,/tmp/tpamsessions191
spb9449,root,spb9449,/home/yk191app/tpam
spb9449,root,spb9449,/home/yk192app/tpam
spb9449,root,spb9449,/tmp/tpamsessions192
10.30.46.205,root,=1qwerty,/home/archiver/PsmArchive
