USE [KL_generic_AD]
GO

SET ANSI_NULLS ON
GO
CREATE TABLE [dbo].[systems_new](
	[UniqueSystemID] [varchar](2000) NOT NULL,
	[SystemName] [varchar](30) NOT NULL,
	[NetworkAddress] [varchar](50) NOT NULL,
	[PrimaryEmail] [varchar](255) NULL,
	[Platform Name] [varchar](71) NULL,
	[Dflt Change Frequency] [varchar](50) NULL,
	[Release Duration] [smallint] NULL,
	[Auto-Password Mgmt] [char](1) NOT NULL,
	[Functional Account] [varchar](30) NULL,
	[Account Credential] [varchar](128) NULL,
	[Use Specific DSS Key] [char](1) NULL,
	[Change Time] [varchar](50) NULL,
	[Password Rule Name] [varchar](30) NULL,
	[Port Number] [int] NULL,
	[Enable Password] [varchar](30) NULL,
	[Alternate IP Address] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[Domain Account] [varchar](100) NULL,
	[Server O S] [varchar](20) NULL,
	[Line Definition] [varchar](255) NULL,
	[Timeout] [smallint] NULL,
	[Domain Name] [varchar](255) NULL,
	[Parent System Name] [varchar](50) NULL,
	[Oracle Type] [varchar](7) NULL,
	[Oracle SIDSN] [varchar](50) NULL,
	[Check Flag] [varchar](50) NULL,
	[Reset Flag] [varchar](50) NULL,
	[Release Change Flag] [varchar](50) NULL,
	[NetBIOS Domain Name] [varchar](21) NULL,
	[Non-Priv Functional Account Flag] [char](1) NULL,
	[Use SSL Flag] [char](1) NULL,
	[Allow Functional Account to be requested Flag] [char](1) NULL,
	[Escalation Time] [int] NULL,
	[Escalation Email] [varchar](255) NULL,
	[Max Release Duration] [smallint] NULL,
	[PSM Only Flag] [char](1) NULL,
	[Platform Specific Value] [varchar](255) NULL,
	[Require Ticket for Request] [char](1) NULL,
	[Ticket System] [varchar](30) NULL,
	[Require Ticket for ISA Retrieve] [char](1) NULL,
	[Require Ticket for CLI Retrieve] [char](1) NULL,
	[Require Ticket for API Retrieve] [char](1) NULL,
	[Ticket Notification Email] [varchar](255) NULL,
	[Location Custom 1] [varchar](255) NULL,
	[Location Custom 2] [varchar](255) NULL,
	[Location Custom 3] [varchar](255) NULL,
	[Location Custom 4] [varchar](255) NULL,
	[Location Custom 5] [varchar](255) NULL,
	[Location Custom 6] [varchar](255) NULL,
	[Allow ISA Duration] [char](1) NULL,
	[Use SSH Flag] [char](1) NULL,
	[SSH Account] [varchar](30) NULL,
	[SSH Port] [int] NULL,
	[SSH Key] [varchar](40) NULL,
	[Template System Name] [varchar](30) NULL,
	[Account Discovery Profile] [varchar](100) NULL,
	[Account Discovery Exclude List] [varchar](1000) NULL,
	[Account Discovery Timeout] [int] NULL,
	[PSM DPA Affinity] [varchar] (2000) NULL,
	[PPM DPA Affinity] [varchar] (2000) NULL,
	[Password Check Profile] [varchar] (100) NULL,
	[Password Change Profile] [varchar] (100) NULL,
	[Profile Certificate Type] [char](1) NULL,
	[Profile Notification Thumbprint] [varchar] (80) NULL,
	[Profile Certificate Password] [varchar] (30) NULL,
	[Func Acct DN] [varchar] (2000) NULL, 
	[Require Ticket for PSM Request] [char] (1) NULL
	
) ON [PRIMARY]
