SELECT [UniqueSystemID]
      ,[SystemName]
      ,[NetworkAddress]
      ,[PrimaryEmail]
      ,[Platform Name]
      ,[Dflt Change Frequency]
      ,[Release Duration]
      ,[Auto-Password Mgmt]
      ,[Functional Account]
      ,[Account Credential]
      ,[Use Specific DSS Key]
      ,[Change Time]
      ,[Password Rule Name]
      ,[Port Number]
      ,[Enable Password]
      ,[Alternate IP Address]
      ,[Description]
      ,[Domain Account]
      ,[Server O S]
      ,[Line Definition]
      ,[Timeout]
      ,[Domain Name]
      ,[Parent System Name]
      ,[Oracle Type]
      ,[Oracle SIDSN]
      ,[Check Flag]
      ,[Reset Flag]
      ,[Release Change Flag]
      ,[NetBIOS Domain Name]
      ,[Non-Priv Functional Account Flag]
      ,[Use SSL Flag]
      ,[Allow Functional Account to be requested Flag]
      ,[Escalation Time]
      ,[Escalation Email]
      ,[Max Release Duration]
      ,[PSM Only Flag]
      ,[Platform Specific Value]
      ,[Require Ticket for Request]
      ,[Ticket System]
      ,[Require Ticket for ISA Retrieve]
      ,[Require Ticket for CLI Retrieve]
      ,[Require Ticket for API Retrieve]
      ,[Ticket Notification Email]
      ,[Location Custom 1]
      ,[Location Custom 2]
      ,[Location Custom 3]
      ,[Location Custom 4]
      ,[Location Custom 5]
      ,[Location Custom 6]
      ,[Allow ISA Duration]
      ,[Use SSH Flag]
      ,[SSH Account]
      ,[SSH Port]
      ,[SSH Key]
      ,[Template System Name]
      ,[Account Discovery Profile]
      ,[Account Discovery Exclude List]
      ,[Account Discovery Timeout]
      ,[PSM DPA Affinity]
      ,[PPM DPA Affinity]
      ,[Password Check Profile]
      ,[Password Change Profile]
	,[Profile Certificate Type]
		,[Profile Notification Thumbprint]
		,[Profile Certificate Password] 
      ,[Func Acct DN]
      ,[Require Ticket for PSM Request]
  FROM [KL_generic_AD].[dbo].[systems_new]