<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="OpProcessesToKill" value="notepad,plink,psexec" />
        <add key="OpKeepAlive" value="1200" />
        <add key="OpPeriodicityToCheck" value="60" />
        <add key="LogFile" value="c:\log.txt" />
    </appSettings>
</configuration>