# Formats:
# Format 0 (Configuration parameters): Param="Value" 
# Format 1 (PPM Scenarios): PPMSuiteName:Platform1,Platform2,..PlatformN
# Format 2 (NonPPM Scenarios): ScenarioName,ScenarioType (Scenario type may be "test" or "suite")

DispatcherAddress="10.30.39.0"
TPAMHost="10.30.44.209"
Prefix="d01"
EmailAddr="yuri.kuniver@quest.com"


#CliScenarios:LinuxRedHat,WindowsLocalHost,MacOsxFive,FreeBsd
#CppScenarios:HpuxUntrusted,OraclePlatform,DellRemoteAccess
#DotNetScenarios:WindowsActiveDir,MySql,MacOsxFour

#BatchScenarios.TestCase,test
#CacheServerRemoteAccess.TestCase,test
#AutoDiscovery,suite

CliScenarios:LinuxRedHat